.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(44, 36, 36, 0.027);
  padding: 10px 20px;
  color: white;
  position: sticky;
  top: 0;
  z-index: 1000;
}
.navbar-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-grow: 1;
}
.navbar-logo img {
  height: 40px;
}

.navbar-logo h2 {
  margin: 0;
  font-size: 1.5rem;
  text-align: center;
}

.navbar-toggle {
  font-size: 24px;
  cursor: pointer;
  display: none;
}

.navbar-links {
  display: flex;
  align-items: center;
  gap: 10px;
}

.navbar-links a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  padding: 5px 10px;
}

.auth-buttons {
  display: flex;
  gap: 10px;
  /* margin-left: 20px; */
}

.auth-button {
  background-color: transparent;
  border: 1px solid white;
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  font-size: 14px;
}

.auth-button:hover {
  background-color: white;
  color: black;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  .navbar-toggle {
    display: block;
  }

  .navbar-links {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    background-color: black;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    padding: 10px 20px;
  }

  .navbar-links.open {
    display: flex;
  }

  .auth-buttons {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-top: 10px;
  }
}

